<?xml version="1.0"?>
<ruleset>

    <file>./src</file>

    <arg value="sp"/>
    <arg name="colors"/>
    <config name="testVersion" value="8.1-"/>

    <rule ref="Syde-Extra" />

    <rule ref="PSR1.Files.SideEffects.FoundWithSymbols">
        <exclude-pattern>./index.php</exclude-pattern>
    </rule>

    <rule ref="SlevomatCodingStandard.Files.TypeNameMatchesFileName">
    	<properties>
    		<property name="rootNamespaces" type="array">
    			<element key="src" value="Inpsyde\Assets" />
    			<element key="tests/phpunit/Unit" value="Inpsyde\Assets\Tests\Unit" />
    		</property>
    	</properties>
    </rule>
</ruleset>